<h5>Instructions:</h5>

<p>Select the name of the employee you would like to review.</p>

<select onchange={{action (mut newReview.revieweeId) value='target.value'}} form="new-review-form" class="select">
  <option></option>
  {{#each users as |user|}}
    <option value={{user.id}}>{{user.surname}}, {{user.givenName}} : [{{user.businessUnit}}]</option>
  {{/each}}
</select>


<form id="new-review-form" {{action 'createReview' on='submit'}}>
  {{input
    placeholder='Reviewee First Name'
    value=newReview.revieweeGivenName
  }}
  {{input
    placeholder='Reviewee Last Name'
    value=newReview.revieweeSurname
  }}
  {{input
    placeholder='Reviewee Business Unit'
    value=newReview.revieweeBusinessUnit
  }}
  <button class='btn btn-success' type='submit'>Create</button>
</form>
