<br>

<form {{action 'updateReview' on='submit' review=review }}>
  <label>Quality of Work Product</label>
  {{input placeholder='Quality of Work Product'
          value=review.qowp}}

  <label>Problem Solving</label>
  {{input placeholder='Problem Solving'
          value=review.prob}}

  <label>Implementation Effectiveness</label>
  {{input placeholder='Implementation Effectiveness'
          value=review.imef}}

  <label>Openness to Feedback</label>
  {{input placeholder='Openness to Feedback'
          value=review.opfb}}

  <label>Teamwork</label>
  {{input placeholder='Teamwork'
          value=review.team}}

  <label>Communication</label>
  {{input placeholder='Communication'
          value=review.comm}}

  <label>Effort & Commitment</label>
  {{input placeholder='Effort & Commitment'
          value=review.efco}}

  <label>Reliability</label>
  {{input placeholder='Reliability'
          value=review.reli}}

  <label>Management</label>
  {{input placeholder='Management'
          value=review.mgmt}}

  <label>Strengths</label>
  {{input placeholder='Strengths'
          value=review.strengths}}

  <label>Improvements</label>
  {{input placeholder='Improvements'
          value=review.improves}}

  <label>Open Response</label>
  {{input placeholder='Open Response'
          value=review.openresp}}

  <button class='btn btn-primary' type='submit'>Save</button>
  <button class='btn btn-danger pull-right' {{action 'deleteReview' review}}>Delete</button>
</form>
