<h4>360 Review Form</h4>

<table>
  <tr>
    <td>Employee:</td>
    <td>{{model.revieweeGivenName}} {{model.revieweeSurname}}</td>
  </tr>
  <tr>
    <td>Business Unit:</td>
    <td>{{model.revieweeBusinessUnit}}</td>
  </tr>
</table>

{{review-update
  review=model
  updateReview='updateReview'
  deleteReview='deleteReview'
}}

{{!-- Use an outlet to connect to three components, one for each section
      of the review process. --}}

{{!-- <form {{action 'updateReview' on='submit' review=model }}>
  {{input
    placeholder='Quality of Work Product'
    value=this.qowp
  }}
  {{input
    placeholder='Problem Solving'
    value=this.prob}}
  {{input
    placeholder='Implementation Effectiveness'
    value=this.imef}}
  <button type='submit'>Save</button>
</form> --}}
